* {
    border: 0px solid black;
}

:root {
    margin: 0px;
    padding: 0px;
    --border-radius: 5px;
    --red: #ff6188;
    --orange: #fc9867;
    --yellow: #ffd866;
    --green: #a9dc76;
    --blue: #78dce8;
    --purple: #ab9df2;
    --dark: #2d2d2d;
    --darker: #252526;
    --darkest: #1e1e1e; 
    --light: #bbbbbb;
    --shadow: 1px 1px 15px black;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--darkest);
}

.navContainer {
    background-color: var(--darker);
    padding: 10px 100px 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
    border-bottom: 2px solid black;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 15px 15px 30px 15px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--darkest);
    background-image: linear-gradient(to bottom right, var(--red), var(--orange), var(--yellow), var(--green), var(--blue), var(--purple));
    border-top: 2px solid black;
    box-shadow: 2px 2px 3px black;
    display: flex;
    justify-content: center;
    width: 100vw;
}

h1 {
    color: var(--yellow);
}

.newBookBtn {
    background-image: linear-gradient(to bottom right, var(--red), var(--orange), var(--yellow), var(--green), var(--blue), var(--purple));
    color: black;
    border-radius: var(--border-radius);
    border: 1px solid black;
    font-size: 1.2rem;
    height: 50px;
    padding: 15px 15px 37px 15px;
}

.container {
    display: grid;
    padding: 48px;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
}

.card {
    border-radius: 10px;
    overflow: hidden;
    color: white;
    box-shadow: var(--shadow);
    border: 2px solid black;
}

.cardImg {
    padding-top: 160%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid black;
}

.cardInfo {
    background-color: var(--dark);
    padding: 16px;
}

.title {
    color: var(--orange);
}

.author {
    color: var(--blue);
}

.pages {
    color: var(--purple);
}

.coverImg {
    color: var(--orange);
}

.read {
    color: var(--yellow);
}

.readYes {
    color: var(--green)
}

.readNo {
    color: var(--red);
}

.readBtn {
    background-color: var(--light);
    color: black;
    border-radius: var(--border-radius);
    border: 1px solid black;
    padding: 10px;
}

.readBtnYes {
    background-color: var(--green);
}

.readBtnNo {
    background-color: var(--red);
}

.deleteBookBtn {
    background-color: var(--darkest);
    border: 2px solid black;
    border-radius: var(--border-radius);
    color: white;
    margin-left: 10px;
    padding: 10px;
    font-weight: bold;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transform: scale(0);
    z-index: 80;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
    transform: scale(1);
}

#rainbowContainer {
    background-image: linear-gradient(to bottom right, var(--red), var(--orange), var(--yellow), var(--green), var(--blue), var(--purple));
    padding: 3px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    width: 450px;
    height: 500px;
    border-radius: var(--border-radius);
    z-index: 90;
}

#rainbowContainer.active {
    transform: translate(-50%, -50%) scale(1);

}

#formContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out;
    background-color: var(--dark);
    border-radius: var(--border-radius);
    padding: 5px 20px 30px 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

#formContainer.active {
    transform: translate(-50%, -50%) scale(1);
}

h2 {
    color: var(--yellow);
}


label {
    padding: 15px 0px 5px 0px;
}

input{
    border-radius: var(--border-radius);
}

input[type="text"] {
    padding: 5px;
}

/*Hide number input arrows - Firefox */
input[type="number"] {
    margin-bottom: 5px;
    padding: 5px;
    -moz-appearance: textfield;
}

/*Hide number input arrows - Others */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button[type="submit"] {
    border-radius: var(--border-radius);
    margin-top: 15px;
    padding: 10px 15px;
    background-image: linear-gradient(to bottom right, var(--red), var(--orange), var(--yellow), var(--green), var(--blue), var(--purple));
    font-family: 'JetBrains Mono', monospace;
    font-size: 1rem;
    font-weight: bold;

}

